hmm/pfam.hmm
hmm/gvog.hmm
hmm/vogdb.hmm
hmm/vog.annotations.tsv
hmm/gvog_annotation.tsv
.vscode/launch.json
test_out/test_out.gff
test_out/test_out.tblout
hmm/.DS_Store

.DS_Store
.vscode/settings.json
hmm/gvog_mirus_cat.hmm
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/plot_vreg.cpython-312.pyc
src/__pycache__/proteins.cpython-312.pyc
src/__pycache__/proteins.cpython-312.pyc
src/__pycache__/utils.cpython-312.pyc
src/__pycache__/vreg_annot.cpython-312.pyc
hmm/gvog_mirus_cat.h3f
hmm/gvog_mirus_cat.h3i
hmm/gvog_mirus_cat.h3m
hmm/gvog_mirus_cat.h3p
hmm/gvog.h3f
hmm/gvog.h3i
hmm/gvog.h3m
hmm/gvog.h3p
hmm/merged_GVOGs.h3f
hmm/merged_GVOGs.h3i
hmm/merged_GVOGs.h3m
hmm/merged_GVOGs.h3p
hmm/mirusMCP.h3f
hmm/mirusMCP.h3i
hmm/mirusMCP.h3m
hmm/mirusMCP.h3p
hmm/NCLDV_markers.h3f
hmm/NCLDV_markers.h3i
hmm/NCLDV_markers.h3m
hmm/NCLDV_markers.h3p
src/__pycache__/download_database.cpython-312.pyc
src/__pycache__/proteins.cpython-312.pyc
src/__pycache__/utils.cpython-312.pyc
src/__pycache__/proteins.cpython-312.pyc
src/__pycache__/utils.cpython-312.pyc
hmm/cat_mirus.h3f
hmm/cat_mirus.h3i
hmm/cat_mirus.h3m
hmm/cat_mirus.h3p
hmm/cat_mirus.hmm
hmm/NCLDV_markers.hmm
hmm/NCLDV_markers.hmm
src/__pycache__/proteins.cpython-312.pyc
src/__pycache__/utils.cpython-312.pyc
